<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mt-class.css" rel="stylesheet">   
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- MathJax -->
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-fixed-top navbar-default" role="banner">
      <div class="container">
        <div class="row">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav">
            <li id="main_page"><a href="https://linguistics.illinois.edu" class="navbar-brand">The Department of Linguistics, UIUC</a></li>
          </ul>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
          	<li id="home"><a href="../index.html">Courses</a></li>
          	{% if page.url_home %}
            	<li id="current"><a href="{{ page.url_home }}">{{ page.txt_home }}</a></li>   
            {% endif %} 
          	
          	
<!-- 
            <li id="syllabus"><a href="syllabus.html">Syllabus</a></li>
            <li id="schedule"><a href="schedule.html">Schedule</a></li>
 -->
            <li id="homework">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Homework<span class="caret"></span></a>
              <ol class="dropdown-menu">
                <li><a href="hw00.html">Warm up</a></li>
                <li><a href="hw01.html">HW01</a></li>
                 <li><a href="hw02.html">HW02</a></li>
                <li><a href="hw03.html">HW03</a></li>
              <li><a href="hw04.html">HW04</a></li>
                <li><a href="hw05.html">HW05</a></li>
                <li><a href="hw06.html">HW06</a></li>
                <li><a href="hw07.html">HW07</a></li>
                <li><a href="hw08.html">HW08</a></li>
               <li><a href="hw09.html">HW09</a></li>
                <li><a href="hw10.html">HW10</a></li>
<!--                 <li><a href="hw11.html">HW11</a></li>
                <li><a href="hw12.html">HW12</a></li>
                <li><a href="hw13.html">HW13</a></li>
                <li><a href="hw14.html">HW14</a></li>
                <li><a href="FP.html">Final Project</a></li>
 -->
              </ol>
            </li>
            
            <li id="lab">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lab<span class="caret"></span></a>
              <ol class="dropdown-menu">
                <li><a href="lab01.html">LAB01</a></li>
                <li><a href="lab02.html">LAB02</a></li>
                <li><a href="lab03.html">LAB03</a></li>
                <li><a href="lab04.html">LAB04</a></li>
                <li><a href="lab05.html">LAB05</a></li>
                <li><a href="lab06.html">LAB06</a></li>
                <li><a href="lab07.html">LAB07</a></li>
                <li><a href="lab08.html">LAB08</a></li>
               <li><a href="lab09.html">LAB09</a></li>
<!--                 <li><a href="lab10.html">LAB10</a></li>
                <li><a href="lab11.html">LAB11</a></li>
                <li><a href="lab12.html">LAB12</a></li>
                <li><a href="lab13.html">LAB13</a></li>
                <li><a href="lab14.html">LAB14</a></li>
                <li><a href="FP.html">Final Project</a></li>
 -->

              </ol>
            </li>
            <li id="github">
            {% if page.url_git %}
            	<a href="{{ page.url_git }}"  target="_blank">Github</a>
            {% else %}
            	<a href="https://github.com"  target="_blank">Github</a>        
            {% endif %} 
            
                       
            </li>
<!--              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Github<span class="caret"></span></a>
              <ol class="dropdown-menu">
                <li><a href="https://github.com/2018-Fall-UIUC-LING402A">Section A</a></li>
                <li><a href="https://github.com/2018-Fall-UIUC-LING402B">Section B</a></li>
              </ol>
            </li>-->
<!-- 
            <li id="piazza">
            {% if page.url_git %}
            	<a href="{{ page.url_piazza }}"  target="_blank">Piazza</a>
            {% else %}
            	<a href="https://piazza.com"  target="_blank">Piazza</a>        
            {% endif %} 
			</li>
 -->
          </ul>
        </nav>
      </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-2 hidden-sm hidden-xs">
          {% if page.img_link %}<a href="{{ page.img_link }}">{% endif %} 
          <img src="../assets/img/{{ page.img }}" class="img-responsive img-rounded" alt="{{ page.caption }}" title="{{ page.img_credit }}"/>
          {% if page.img_link %}</a>{% endif %} 
          <span class="text-muted"><i>{{ page.caption }}</i></span>
        </div>
        <div class="col-sm-10">
          {{ content }}
        </div>
      </div>

      <footer class="text-left text-muted">
        <hr/>
        The theme of this web site is derived from material originally created by Adam Lopez, Matt Post, and Chris Callison-Burch, which they have graciously made available under a Creative Commons Attribution 3.0 Unported License.
        All additions by Lane Schwartz and Yan Tang may likewise be reproduced under the Creative Commons Attribution 3.0 Unported License.<br/>
        <br/><br/>
      </footer>
    </div>

    <!-- Page content of course! -->
    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./dist/js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#{{ page.active_tab }}").addClass("active");
      });
    </script>
  </body>
</html>
